In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
total = pd.read_csv("IPL_Ball_by_Ball_2008_2022.csv")

In [3]:
match = pd.read_csv("IPL_Matches_2008_2022.csv")

In [4]:
total.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [5]:
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [6]:
total.isnull().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

In [7]:
match.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [8]:
total.fillna("0",inplace=True)

In [9]:
match.fillna("0",inplace=True)

In [10]:
total.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,0,0,0,0,0,0,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,0,0,0,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,0,1,0,1,0,0,0,0,0,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,0,0,0,0,0,0,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,0,0,0,0,0,0,0,0,0,Rajasthan Royals

In [11]:
match.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7,0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7,0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14,0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7,0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5,0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [12]:
total.shape

(225954, 17)

In [13]:
match.shape

(950, 20)

In [14]:
total_runs = total.groupby(["ID","innings"]).sum()["total_run"].reset_index()

In [15]:
total_runs

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

In [16]:
total_runs_1 = total_runs[total_runs["innings"] == 1]

In [17]:
total_runs_1

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

In [18]:
total_runs_2 = total_runs[total_runs["innings"] == 2]

In [19]:
total_runs_2

           ID  innings  total_run
1      335982        2         82
3      335983        2        207
5      335984        2        132
7      335985        2        166
9      335986        2        112
...       ...      ...        ...
1919  1304116        2        160
1921  1312197        2        191
1923  1312198        2        193
1925  1312199        2        161
1927  1312200        2        133

[948 rows x 3 columns]

In [20]:
match_1 = match.merge(total_runs_1, on = "ID")

In [21]:
match_2 = match_1.merge(total_runs_2, on = "ID")

In [22]:
match_2.rename(columns={"innings_x":"inning_1","innings_y":"inning_2","total_run_x":"total_run_1","total_run_y":"total_run_2"}, inplace= True)

In [23]:
match_2

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,inning_1,total_run_1,inning_2,total_run_2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,130,2,133
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,1,157,2,161
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,1,207,2,193
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,1,188,2,191
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,1,157,2,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,0,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,1,110,2,112
944,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,0,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,1,165,2,166
945,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,0,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,1,129,2,132
946,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,0,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,1,240,2,207
947,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,1,222,2,82

In [24]:
match_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 948 entries, 0 to 947
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               948 non-null    int64
 1   City             948 non-null    object
 2   Date             948 non-null    object
 3   Season           948 non-null    object
 4   MatchNumber      948 non-null    object
 5   Team1            948 non-null    object
 6   Team2            948 non-null    object
 7   Venue            948 non-null    object
 8   TossWinner       948 non-null    object
 9   TossDecision     948 non-null    object
 10  SuperOver        948 non-null    object
 11  WinningTeam      948 non-null    object
 12  WonBy            948 non-null    object
 13  Margin           948 non-null    object
 14  method           948 non-null    object
 15  Player_of_Match  948 non-null    object
 16  Team1Players     948 non-null    object
 17  Team2Players     948 non-null    object
 18  Umpire1          948 non-null    object
 19  Umpire2          948 non-null    object
 20  inning_1         948 non-null    int64
 21  total_run_1      948 non-null    int64
 22  inning_2         948 non-null    int64
 23  total_run_2      948 non-null    int64
dtypes: int64(5), object(19)
memory usage: 185.2+ KB

In [25]:
match_2["Team1"].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [26]:
match_2["Team1"] = match_2["Team1"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_2["Team1"] = match_2["Team1"].str.replace('Delhi Daredevils','Delhi Capitals')
match_2["Team1"] = match_2["Team1"].str.replace('Punjab Kings','Kings XI Punjab')

match_2["Team2"] = match_2["Team2"].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_2["Team2"] = match_2["Team2"].str.replace('Delhi Daredevils','Delhi Capitals')
match_2["Team2"] = match_2["Team2"].str.replace('Punjab Kings','Kings XI Punjab')

In [27]:
teams = ['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
        'Mumbai Indians', 'Kings XI Punjab','Delhi Capitals']

In [28]:
match_2["Team2"].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Kings XI Punjab', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Kochi Tuskers Kerala'],
      dtype=object)

In [29]:
match_2 = match_2[match_2["Team1"].isin(teams)]
match_2 = match_2[match_2["Team2"].isin(teams)]

In [30]:
match_2.shape

(834, 24)

In [31]:
match_2["method"].value_counts()

0      819
D/L     15
Name: method, dtype: int64

In [32]:
match_2 = match_2[match_2["method"] == "0"]

In [33]:
match_2.shape

(819, 24)

In [34]:
match_2

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,inning_1,total_run_1,inning_2,total_run_2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,1,130,2,133
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,1,157,2,161
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,1,207,2,193
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,1,188,2,191
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Kings XI Punjab,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,1,157,2,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Sunrisers Hyderabad,Eden Gardens,Deccan Chargers,bat,...,0,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,1,110,2,112
944,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,0,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,1,165,2,166
945,335984,Delhi,2008-04-19,2007/08,3,Delhi Capitals,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,0,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,1,129,2,132
946,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,0,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,1,240,2,207
947,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,0,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,1,222,2,82

In [35]:
match_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 947
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               819 non-null    int64
 1   City             819 non-null    object
 2   Date             819 non-null    object
 3   Season           819 non-null    object
 4   MatchNumber      819 non-null    object
 5   Team1            819 non-null    object
 6   Team2            819 non-null    object
 7   Venue            819 non-null    object
 8   TossWinner       819 non-null    object
 9   TossDecision     819 non-null    object
 10  SuperOver        819 non-null    object
 11  WinningTeam      819 non-null    object
 12  WonBy            819 non-null    object
 13  Margin           819 non-null    object
 14  method           819 non-null    object
 15  Player_of_Match  819 non-null    object
 16  Team1Players     819 non-null    object
 17  Team2Players     819 non-null    object
 18  Umpire1          819 non-null    object
 19  Umpire2          819 non-null    object
 20  inning_1         819 non-null    int64
 21  total_run_1      819 non-null    int64
 22  inning_2         819 non-null    int64
 23  total_run_2      819 non-null    int64
dtypes: int64(5), object(19)
memory usage: 160.0+ KB

In [36]:
match_df = match_2[["ID","City","WinningTeam","Team1","Team2","total_run_1","total_run_2"]]

In [37]:
match_df

,ID,City,WinningTeam,Team1,Team2,total_run_1,total_run_2
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,Gujarat Titans,130,133
1,1312199,Ahmedabad,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,157,161
2,1312198,Kolkata,Royal Challengers Bangalore,Royal Challengers Bangalore,Lucknow Super Giants,207,193
3,1312197,Kolkata,Gujarat Titans,Rajasthan Royals,Gujarat Titans,188,191
4,1304116,Mumbai,Punjab Kings,Sunrisers Hyderabad,Kings XI Punjab,157,160
...,...,...,...,...,...,...,...
943,335986,Kolkata,Kolkata Knight Riders,Kolkata Knight Riders,Sunrisers Hyderabad,110,112
944,335985,Mumbai,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,165,166
945,335984,Delhi,Delhi Daredevils,Delhi Capitals,Rajasthan Royals,129,132
946,335983,Chandigarh,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,240,207
947,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,222,82

In [38]:
match_f = match_df.merge(total, on = "ID")

In [39]:
match_f.drop("Team2", axis = 1, inplace=True)

In [40]:
match_f.rename(columns = {"Team1":"Bowling Team"}, inplace=True)

In [41]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_1,total_run_2,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,133,1,0,1,YBK Jaiswal,...,0,0,0,0,0,0,0,0,0,Rajasthan Royals
1,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,133,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,0,0,0,Rajasthan Royals
2,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,133,1,0,3,JC Buttler,...,0,1,0,1,0,0,0,0,0,Rajasthan Royals
3,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,133,1,0,4,YBK Jaiswal,...,0,0,0,0,0,0,0,0,0,Rajasthan Royals
4,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,130,133,1,0,5,YBK Jaiswal,...,0,0,0,0,0,0,0,0,0,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,82,2,14,5,P Kumar,...,legbyes,0,1,1,0,0,0,0,0,Royal Challengers Bangalore
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,82,2,14,6,SB Joshi,...,0,1,0,1,0,0,0,0,0,Royal Challengers Bangalore
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,82,2,14,7,P Kumar,...,0,0,0,0,0,0,0,0,0,Royal Challengers Bangalore
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,82,2,15,1,SB Joshi,...,wides,0,1,1,0,0,0,0,0,Royal Challengers Bangalore
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,222,82,2,15,2,SB Joshi,...,0,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [42]:
match_f = match_f[match_f["innings"]==2]

In [43]:
match_f.shape

(95083, 22)

In [44]:
match_f.drop("total_run_1",axis = 1, inplace=True)

/home/deependra/.local/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [45]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,0,0,0,0,0,0,Gujarat Titans
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,0,0,0,0,0,0,Gujarat Titans
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,1,0,1,0,0,0,0,0,Gujarat Titans
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,0,0,0,0,0,Gujarat Titans
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,0,0,0,0,0,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,legbyes,0,1,1,0,0,0,0,0,Royal Challengers Bangalore
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,1,0,1,0,0,0,0,0,Royal Challengers Bangalore
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,0,0,0,0,0,0,Royal Challengers Bangalore
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,wides,0,1,1,0,0,0,0,0,Royal Challengers Bangalore
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,0,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [46]:
match_f["current_score"] = match_f.groupby("ID").cumsum()["total_run"]

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,0,0,0,0,0,Gujarat Titans,0
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,0,0,0,0,0,Gujarat Titans,0
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,1,0,1,0,0,0,0,0,Gujarat Titans,1
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,0,0,0,0,Gujarat Titans,1
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,0,0,0,0,Gujarat Titans,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,0,1,1,0,0,0,0,0,Royal Challengers Bangalore,80
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,1,0,1,0,0,0,0,0,Royal Challengers Bangalore,81
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,0,0,0,0,0,Royal Challengers Bangalore,81
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,0,1,1,0,0,0,0,0,Royal Challengers Bangalore,82
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82

In [48]:
match_f["run_win"] = match_f["total_run_2"]+1

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,run_win
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,0,0,0,0,Gujarat Titans,0,134
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,0,0,0,0,Gujarat Titans,0,134
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,1,0,0,0,0,0,Gujarat Titans,1,134
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,0,0,0,Gujarat Titans,1,134
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,0,0,0,Gujarat Titans,1,134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,1,1,0,0,0,0,0,Royal Challengers Bangalore,80,83
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,1,0,0,0,0,0,Royal Challengers Bangalore,81,83
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,0,0,0,0,Royal Challengers Bangalore,81,83
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,1,1,0,0,0,0,0,Royal Challengers Bangalore,82,83
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,83

In [50]:
match_f["runs_left"] = match_f["run_win"] - match_f["current_score"]

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,run_win,runs_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,0,0,0,Gujarat Titans,0,134,134
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,0,0,0,Gujarat Titans,0,134,134
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,1,0,0,0,0,0,Gujarat Titans,1,134,133
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,0,0,Gujarat Titans,1,134,133
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,0,0,Gujarat Titans,1,134,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,1,0,0,0,0,0,Royal Challengers Bangalore,80,83,3
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,1,0,0,0,0,0,Royal Challengers Bangalore,81,83,2
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,0,0,0,Royal Challengers Bangalore,81,83,2
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,1,0,0,0,0,0,Royal Challengers Bangalore,82,83,1
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,83,1

In [52]:
match_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95083 entries, 120 to 196325
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 95083 non-null  int64
 1   City               95083 non-null  object
 2   WinningTeam        95083 non-null  object
 3   Bowling Team       95083 non-null  object
 4   total_run_2        95083 non-null  int64
 5   innings            95083 non-null  int64
 6   overs              95083 non-null  int64
 7   ballnumber         95083 non-null  int64
 8   batter             95083 non-null  object
 9   bowler             95083 non-null  object
 10  non-striker        95083 non-null  object
 11  extra_type         95083 non-null  object
 12  batsman_run        95083 non-null  int64
 13  extras_run         95083 non-null  int64
 14  total_run          95083 non-null  int64
 15  non_boundary       95083 non-null  int64
 16  isWicketDelivery   95083 non-null  int64
 17  player_out         95083 non-null  object
 18  kind               95083 non-null  object
 19  fielders_involved  95083 non-null  object
 20  BattingTeam        95083 non-null  object
 21  current_score      95083 non-null  int64
 22  run_win            95083 non-null  int64
 23  runs_left          95083 non-null  int64
dtypes: int64(13), object(11)
memory usage: 18.1+ MB

In [53]:
match_f["ball_left"] = 120 - (match_f["overs"]*6+match_f["ballnumber"])

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [54]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,run_win,runs_left,ball_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,0,0,Gujarat Titans,0,134,134,119
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,0,0,Gujarat Titans,0,134,134,118
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,0,0,0,0,Gujarat Titans,1,134,133,117
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,0,Gujarat Titans,1,134,133,116
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,0,Gujarat Titans,1,134,133,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,0,0,0,0,0,Royal Challengers Bangalore,80,83,3,31
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,0,0,0,0,Royal Challengers Bangalore,81,83,2,30
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,0,0,Royal Challengers Bangalore,81,83,2,29
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,0,0,0,0,0,Royal Challengers Bangalore,82,83,1,29
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,82,83,1,28

In [55]:
match_f[["isWicketDelivery","player_out"]]

        isWicketDelivery player_out
120                    0          0
121                    0          0
122                    0          0
123                    0          0
124                    0          0
...                  ...        ...
196321                 0          0
196322                 0          0
196323                 0          0
196324                 0          0
196325                 1   SB Joshi

[95083 rows x 2 columns]

In [56]:
match_f["player_out"] = match_f["player_out"].apply(lambda x:x if x == "0" else "1")

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
match_f["player_out"] = match_f["player_out"].astype("int")

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [58]:
wicket = match_f.groupby("ID").cumsum()["player_out"]

In [59]:
match_f["wicket_left"] = 10 - wicket.values

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_score,run_win,runs_left,ball_left,wicket_left
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,0,Gujarat Titans,0,134,134,119,10
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,0,Gujarat Titans,0,134,134,118,10
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,0,0,0,Gujarat Titans,1,134,133,117,10
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,0,Gujarat Titans,1,134,133,116,10
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,0,Gujarat Titans,1,134,133,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,0,0,0,0,Royal Challengers Bangalore,80,83,3,31,1
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,0,0,0,Royal Challengers Bangalore,81,83,2,30,1
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,0,Royal Challengers Bangalore,81,83,2,29,1
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,0,0,0,0,Royal Challengers Bangalore,82,83,1,29,1
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,1,1,caught,BB McCullum,Royal Challengers Bangalore,82,83,1,28,0

In [61]:
match_f[["player_out","wicket_left"]].tail(50)

        player_out  wicket_left
196276           0            5
196277           0            5
196278           1            4
196279           0            4
196280           0            4
196281           0            4
196282           0            4
196283           0            4
196284           1            3
196285           0            3
196286           0            3
196287           0            3
196288           0            3
196289           0            3
196290           0            3
196291           0            3
196292           0            3
196293           0            3
196294           0            3
196295           0            3
196296           0            3
196297           0            3
196298           1            2
196299           0            2
196300           0            2
196301           0            2
196302           0            2
196303           0            2
196304           0            2
196305           0            2
196306           0            2
196307           0            2
196308           0            2
196309           0            2
196310           0            2
196311           1            1
196312           0            1
196313           0            1
196314           0            1
196315           0            1
196316           0            1
196317           0            1
196318           0            1
196319           0            1
196320           0            1
196321           0            1
196322           0            1
196323           0            1
196324           0            1
196325           1            0

In [62]:
match_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95083 entries, 120 to 196325
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 95083 non-null  int64
 1   City               95083 non-null  object
 2   WinningTeam        95083 non-null  object
 3   Bowling Team       95083 non-null  object
 4   total_run_2        95083 non-null  int64
 5   innings            95083 non-null  int64
 6   overs              95083 non-null  int64
 7   ballnumber         95083 non-null  int64
 8   batter             95083 non-null  object
 9   bowler             95083 non-null  object
 10  non-striker        95083 non-null  object
 11  extra_type         95083 non-null  object
 12  batsman_run        95083 non-null  int64
 13  extras_run         95083 non-null  int64
 14  total_run          95083 non-null  int64
 15  non_boundary       95083 non-null  int64
 16  isWicketDelivery   95083 non-null  int64
 17  player_out         95083 non-null  int64
 18  kind               95083 non-null  object
 19  fielders_involved  95083 non-null  object
 20  BattingTeam        95083 non-null  object
 21  current_score      95083 non-null  int64
 22  run_win            95083 non-null  int64
 23  runs_left          95083 non-null  int64
 24  ball_left          95083 non-null  int64
 25  wicket_left        95083 non-null  int64
dtypes: int64(16), object(10)
memory usage: 19.6+ MB

In [63]:
match_f["crr"] = (match_f["current_score"]/((120-match_f["ball_left"])/6))

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,player_out,kind,fielders_involved,BattingTeam,current_score,run_win,runs_left,ball_left,wicket_left,crr
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,0,Gujarat Titans,0,134,134,119,10,0.000000
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,0,Gujarat Titans,0,134,134,118,10,0.000000
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,0,0,Gujarat Titans,1,134,133,117,10,2.000000
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,0,Gujarat Titans,1,134,133,116,10,1.500000
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,0,Gujarat Titans,1,134,133,115,10,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,0,0,0,Royal Challengers Bangalore,80,83,3,31,1,5.393258
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,0,0,Royal Challengers Bangalore,81,83,2,30,1,5.400000
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,0,Royal Challengers Bangalore,81,83,2,29,1,5.340659
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,0,0,0,Royal Challengers Bangalore,82,83,1,29,1,5.406593
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,1,caught,BB McCullum,Royal Challengers Bangalore,82,83,1,28,0,5.347826

In [65]:
match_f["rrr"] = (match_f["runs_left"]/(match_f["ball_left"]/6))

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,kind,fielders_involved,BattingTeam,current_score,run_win,runs_left,ball_left,wicket_left,crr,rrr
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,0,Gujarat Titans,0,134,134,119,10,0.000000,6.756303
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,0,Gujarat Titans,0,134,134,118,10,0.000000,6.813559
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,0,Gujarat Titans,1,134,133,117,10,2.000000,6.820513
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,0,Gujarat Titans,1,134,133,116,10,1.500000,6.879310
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,0,Gujarat Titans,1,134,133,115,10,1.200000,6.939130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,0,0,Royal Challengers Bangalore,80,83,3,31,1,5.393258,0.580645
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,0,Royal Challengers Bangalore,81,83,2,30,1,5.400000,0.400000
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,0,Royal Challengers Bangalore,81,83,2,29,1,5.340659,0.413793
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,0,0,Royal Challengers Bangalore,82,83,1,29,1,5.406593,0.206897
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,caught,BB McCullum,Royal Challengers Bangalore,82,83,1,28,0,5.347826,0.214286

In [67]:
def result(row):
    return 1 if row["WinningTeam"] == row["BattingTeam"] else 0

In [68]:
match_f["result"] = match_f.apply(result,axis = 1)

/home/deependra/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [69]:
match_f

,ID,City,WinningTeam,Bowling Team,total_run_2,innings,overs,ballnumber,batter,bowler,...,fielders_involved,BattingTeam,current_score,run_win,runs_left,ball_left,wicket_left,crr,rrr,result
120,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,1,WP Saha,TA Boult,...,0,Gujarat Titans,0,134,134,119,10,0.000000,6.756303,1
121,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,2,WP Saha,TA Boult,...,0,Gujarat Titans,0,134,134,118,10,0.000000,6.813559,1
122,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,3,WP Saha,TA Boult,...,0,Gujarat Titans,1,134,133,117,10,2.000000,6.820513,1
123,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,4,Shubman Gill,TA Boult,...,0,Gujarat Titans,1,134,133,116,10,1.500000,6.879310,1
124,1312200,Ahmedabad,Gujarat Titans,Rajasthan Royals,133,2,0,5,Shubman Gill,TA Boult,...,0,Gujarat Titans,1,134,133,115,10,1.200000,6.939130,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196321,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,5,P Kumar,I Sharma,...,0,Royal Challengers Bangalore,80,83,3,31,1,5.393258,0.580645,0
196322,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,6,SB Joshi,I Sharma,...,0,Royal Challengers Bangalore,81,83,2,30,1,5.400000,0.400000,0
196323,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,14,7,P Kumar,I Sharma,...,0,Royal Challengers Bangalore,81,83,2,29,1,5.340659,0.413793,0
196324,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,1,SB Joshi,LR Shukla,...,0,Royal Challengers Bangalore,82,83,1,29,1,5.406593,0.206897,0
196325,335982,Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,82,2,15,2,SB Joshi,LR Shukla,...,BB McCullum,Royal Challengers Bangalore,82,83,1,28,0,5.347826,0.214286,0

In [70]:
match_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95083 entries, 120 to 196325
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 95083 non-null  int64
 1   City               95083 non-null  object
 2   WinningTeam        95083 non-null  object
 3   Bowling Team       95083 non-null  object
 4   total_run_2        95083 non-null  int64
 5   innings            95083 non-null  int64
 6   overs              95083 non-null  int64
 7   ballnumber         95083 non-null  int64
 8   batter             95083 non-null  object
 9   bowler             95083 non-null  object
 10  non-striker        95083 non-null  object
 11  extra_type         95083 non-null  object
 12  batsman_run        95083 non-null  int64
 13  extras_run         95083 non-null  int64
 14  total_run          95083 non-null  int64
 15  non_boundary       95083 non-null  int64
 16  isWicketDelivery   95083 non-null  int64
 17  player_out         95083 non-null  int64
 18  kind               95083 non-null  object
 19  fielders_involved  95083 non-null  object
 20  BattingTeam        95083 non-null  object
 21  current_score      95083 non-null  int64
 22  run_win            95083 non-null  int64
 23  runs_left          95083 non-null  int64
 24  ball_left          95083 non-null  int64
 25  wicket_left        95083 non-null  int64
 26  crr                95083 non-null  float64
 27  rrr                95083 non-null  float64
 28  result             95083 non-null  int64
dtypes: float64(2), int64(17), object(10)
memory usage: 21.8+ MB

In [71]:
df = match_f[["BattingTeam","Bowling Team","City","runs_left","ball_left","wicket_left","run_win","crr","rrr","result"]]

In [72]:
df = df.sample(df.shape[0])

In [73]:
df

,BattingTeam,Bowling Team,City,runs_left,ball_left,wicket_left,run_win,crr,rrr,result
25240,Mumbai Indians,Chennai Super Kings,Dubai,53,46,6,137,6.810811,6.913043,0
35854,Kings XI Punjab,Kolkata Knight Riders,0,63,46,9,151,7.135135,8.217391,1
81759,Delhi Daredevils,Royal Challengers Bangalore,Bengaluru,2,1,1,143,7.109244,12.000000,0
182183,Royal Challengers Bangalore,Royal Challengers Bangalore,Cape Town,107,64,7,161,5.785714,10.031250,0
68895,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,18,13,6,177,8.915888,8.307692,1
...,...,...,...,...,...,...,...,...,...,...
192918,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,162,114,10,166,4.000000,8.526316,0
126890,Delhi Daredevils,Delhi Capitals,Delhi,23,58,5,84,5.903226,2.379310,0
24045,Chennai Super Kings,Royal Challengers Bangalore,Sharjah,140,108,10,158,9.000000,7.777778,1
129731,Kolkata Knight Riders,Rajasthan Royals,Jaipur,115,116,10,126,16.500000,5.948276,0
147861,Delhi Daredevils,Chennai Super Kings,Chennai,29,15,5,159,7.428571,11.600000,0

In [74]:
df.describe()

,runs_left,ball_left,wicket_left,run_win,crr,rrr,result
count,95083.000000,95083.000000,95083.000000,95083.000000,95083.000000,9.508300e+04,95083.000000
mean,80.570249,62.540728,7.533597,153.832978,7.408042,inf,0.522912
std,47.584150,33.437149,2.155191,27.742992,2.230023,NaN,0.499477
min,1.000000,-3.000000,0.000000,3.000000,0.000000,-4.200000e+01,0.000000
25%,41.000000,34.000000,6.000000,137.000000,6.272727,6.401681e+00,0.000000
50%,78.000000,63.000000,8.000000,155.000000,7.470588,7.846154e+00,1.000000
75%,117.000000,91.000000,9.000000,172.000000,8.637363,9.326733e+00,1.000000
max,226.000000,119.000000,10.000000,227.000000,36.000000,inf,1.000000

In [75]:
df.dropna(inplace=True)

In [76]:
df = df[df["ball_left"]!=0]

In [77]:
df = df[df["City"]!="0"]

In [78]:
df.shape

(88770, 10)

In [79]:
df

,BattingTeam,Bowling Team,City,runs_left,ball_left,wicket_left,run_win,crr,rrr,result
25240,Mumbai Indians,Chennai Super Kings,Dubai,53,46,6,137,6.810811,6.913043,0
81759,Delhi Daredevils,Royal Challengers Bangalore,Bengaluru,2,1,1,143,7.109244,12.000000,0
182183,Royal Challengers Bangalore,Royal Challengers Bangalore,Cape Town,107,64,7,161,5.785714,10.031250,0
68895,Kolkata Knight Riders,Royal Challengers Bangalore,Bengaluru,18,13,6,177,8.915888,8.307692,1
94697,Royal Challengers Bangalore,Chennai Super Kings,Chennai,37,45,7,125,7.040000,4.933333,0
...,...,...,...,...,...,...,...,...,...,...
192918,Royal Challengers Bangalore,Royal Challengers Bangalore,Bangalore,162,114,10,166,4.000000,8.526316,0
126890,Delhi Daredevils,Delhi Capitals,Delhi,23,58,5,84,5.903226,2.379310,0
24045,Chennai Super Kings,Royal Challengers Bangalore,Sharjah,140,108,10,158,9.000000,7.777778,1
129731,Kolkata Knight Riders,Rajasthan Royals,Jaipur,115,116,10,126,16.500000,5.948276,0
147861,Delhi Daredevils,Chennai Super Kings,Chennai,29,15,5,159,7.428571,11.600000,0

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [82]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42,stratify=y)

In [83]:
from sklearn.linear_model import LogisticRegression

In [84]:
lr = LogisticRegression()

In [85]:
X_train

,BattingTeam,Bowling Team,City,runs_left,ball_left,wicket_left,run_win,crr,rrr
4286,Lucknow Super Giants,Gujarat Titans,Pune,38,76,7,83,6.136364,3.000000
52215,Chennai Super Kings,Royal Challengers Bangalore,Bengaluru,26,7,4,161,7.168142,22.285714
58729,Rajasthan Royals,Chennai Super Kings,Chennai,67,34,5,168,7.046512,11.823529
53840,Mumbai Indians,Royal Challengers Bangalore,Mumbai,115,88,10,173,10.875000,7.840909
48294,Mumbai Indians,Kolkata Knight Riders,Mumbai,59,60,9,135,7.600000,5.900000
...,...,...,...,...,...,...,...,...,...
96314,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata,18,14,7,170,8.603774,7.714286
118533,Rajasthan Royals,Sunrisers Hyderabad,Hyderabad,63,50,8,114,4.371429,7.560000
57971,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,67,50,9,165,8.400000,8.040000
194340,Rajasthan Royals,Sunrisers Hyderabad,Hyderabad,203,104,9,218,5.625000,11.711538
76098,Kolkata Knight Riders,Kings XI Punjab,Chandigarh,89,75,9,154,8.666667,7.120000

In [86]:
y_train

4286      0
52215     0
58729     0
53840     1
48294     1
         ..
96314     1
118533    0
57971     1
194340    1
76098     0
Name: result, Length: 71016, dtype: int64

In [87]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer( [
('trf', OneHotEncoder(sparse=False,drop='first'), ['BattingTeam', 'Bowling Team', 'City'])
])

In [88]:
from sklearn.linear_model import LogisticRegression 
from sklearn.pipeline import Pipeline
pipe = Pipeline(steps= [
('step1', trf),
('step2', LogisticRegression(solver='liblinear'))
])

In [89]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam',
                                                   'Bowling Team', 'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [90]:
y_pred = pipe.predict(X_test)

In [91]:
from sklearn.metrics import accuracy_score

In [92]:
accuracy_score(y_pred,y_test)

0.6176636250985693

In [93]:
pipe.predict_proba(X_test)[9]

array([0.50113034, 0.49886966])

In [94]:
teams

['Rajasthan Royals',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Kings XI Punjab',
 'Delhi Capitals']

In [95]:
list(X_train["City"].unique())

['Pune',
 'Bengaluru',
 'Chennai',
 'Mumbai',
 'Hyderabad',
 'Ahmedabad',
 'Chandigarh',
 'Kolkata',
 'Bangalore',
 'Johannesburg',
 'Dubai',
 'Delhi',
 'Abu Dhabi',
 'Navi Mumbai',
 'Sharjah',
 'Kimberley',
 'Centurion',
 'Visakhapatnam',
 'Jaipur',
 'Cape Town',
 'Durban',
 'Raipur',
 'Nagpur',
 'East London',
 'Dharamsala',
 'Ranchi',
 'Indore',
 'Bloemfontein',
 'Cuttack',
 'Port Elizabeth']

In [96]:
import pickle

In [99]:
pickle.dump(pipe,open("model.pkl","wb"))